/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 13, 2017, 9:38:47 AM
    Author     : christian
    Purpose    : To make our website look awesome.
*/

body {
    background-color: black;
    color: #1ec503;
}
